<div class="pageWrapper">
  <div class="custom-card">
    <div class="coverImage">
      <div><img src="/assets/images/compCover.png" /></div>
      <div class='companyLogo'><img src="/assets/images/compPlaceholder.png" /></div>
    </div>
    <div class="jobtopcontainer">
      <div class="JT-left">
        <div class='compTitle'><strong>Mechanical Design Engineer</strong></div>
        <div class='genTitle'>Beumer India Pvt Ltd.</div>
        <div class="genText"><em class="icon-pin_drop_black_24dp"></em>India - Gurgaon</div>
      </div>
      <div class="JT-right">
        <div class="genText"><em class="icon-insert_invitation"></em>Posted 2 Days ago</div>
        <button class="btn">Apply</button>
      </div>
    </div>
  </div>

  <div class="descriptionArea">
    <div class="custom-card cardpad LAlign">
      hello
  </div>
  <div class="custom-card cardpad RAlign">
   <div class="listspace">
    <div class="genTitle">
      Job Title:
    </div>
    <div class="genText">
      Sr. Associate/Asst. Manager
    </div>
   </div>
   <div class="listspace">
    <div class="genTitle">
      Division/Department
    </div>
    <div class="genText">
      Engineering
    </div>
   </div>
   <div class="listspace">
    <div class="genTitle">
      Job Family:
    </div>
    <div class="genText">
      Airport & Logistics
    </div>
   </div>
   <div class="listspace">
    <div class="genTitle">
      Education:
    </div>
    <div class="genText">
      Bachelor Degree in Mechanical
    </div>
   </div>
   <div class="listspace">
    <div class="genTitle">
      CTC:
    </div>
    <div class="genText">
      4.2 LPA
    </div>
   </div>
   <div class="listspace">
    <div class="genTitle">
      Contract:
    </div>
    <div class="genText">
      3 Years Bond
    </div>
   </div>
  </div>
  </div>


</div>
