<div class="pageWrapper">
  <div class="custom-card">
     <div class="coverImage">
        <div><img src="/assets/images/compCover.png" /></div>
        <div class='companyLogo'><img src="/assets/images/compPlaceholder.png" /></div>
     </div>
     <div class="jobtopcontainer">
        <div class="JT-left">
           <div class='compTitle'><strong>Mechanical Design Engineer</strong></div>
           <div class='genTitle'>Beumer India Pvt Ltd.</div>
           <div class="genText"><em class="icon-pin_drop_black_24dp iconSpace"></em>India - Gurgaon</div>
        </div>
        <div class="JT-right">
           <div class="genText"><em class="icon-insert_invitation iconSpace"></em>Posted 2 Days ago</div>
           <button class="btn">Apply</button>
        </div>
     </div>
  </div>
  <div class="descriptionArea">
     <div class="custom-card cardpad LAlign">
        <div class="desTitle">
           Job Requirements
           <ul>
              <li>Bachelor’s degree in Mechanical engineering discipline from an accredited college or University.</li>
              <li>Minimum of 5 years of system engineering (material handling).</li>
           </ul>
        </div>
        <div class="desTitle">
           Job Responsiblity:
           <ul>
              <li>Plan, organize, execute, monitor & control the Design & Engineering activities for the Layout engineering & G.A. drawing preparation of material handling equipment (belt conveyor etc.)</li>
              <li>Participate, where relevant, in meetings with client, authorities, contractors / vendors to clarify technical issues.</li>
           </ul>
        </div>
     </div>
     <div class="custom-card cardpad RAlign">
        <div class="listspace">
           <div class="desTitle">
              Job Title:
           </div>
           <div class="genText">
              Sr. Associate/Asst. Manager
           </div>
        </div>
        <div class="listspace">
           <div class="desTitle">
              Division/Department
           </div>
           <div class="genText">
              Engineering
           </div>
        </div>
        <div class="listspace">
           <div class="desTitle">
              Job Family:
           </div>
           <div class="genText">
              Airport & Logistics
           </div>
        </div>
        <div class="listspace">
           <div class="desTitle">
              Education:
           </div>
           <div class="genText">
              Bachelor Degree in Mechanical
           </div>
        </div>
        <div class="listspace">
           <div class="desTitle">
              CTC:
           </div>
           <div class="genText">
              4.2 LPA
           </div>
        </div>
        <div class="listspace">
           <div class="desTitle">
              Contract:
           </div>
           <div class="genText">
              3 Years Bond
           </div>
        </div>
     </div>
  </div>
</div>