<mat-toolbar class="headerShadow">
  <div class="header-cont">
    <span class="img-wrapper" (click)="goToHome()">
      <img src="../../../assets/images/newLogo.png" alt="">
    </span>
    <span class="rightlog">
        <!-- <button class="btn" (click)="gotopage('profile')">Profile</button>
        <button class="btn ml-2 mr-2" (click)="gotopage('apply')">Jobs</button> -->
      <span class="title">
        {{username ? 'Welcome, ' + username : ''}}
      </span>
      <span *ngIf="!isExternal" matTooltip="Logout" class="logout" (click)="logOut()">
        <em class="icon-logout"></em>
      </span>
      <span *ngIf="isExternal" matTooltip="Logout" class="logout" (click)="extRedir()">
        <button  class="btn"><div style="display: flex; align-items: center;"><em class="icon-logout"></em>&nbsp; Back</div></button>
      </span>
    </span>
  </div>
</mat-toolbar>
