@import "../../../themes/themes.scss";
.joining-form-wrapper {
  // width: 80%;
  padding: 0px 2%;
  display: flex;
  position: relative;
  padding-bottom: 1em;
  margin: auto;
  background-color: #ecf0f4;
  .stepper::-webkit-scrollbar {
    display: none;
  }
  .stepper {
    margin-right: 0em;
    width: 230px !important;
    min-width: 30% !important;
    position: sticky;
    // top: 6em;
    height: 800px;
    overflow-y: scroll;

    .stepper-wrapper {
      margin-top: 1em;
      position: absolute;
      left: 10%;
      transform: translateX(-10%);
      display: block;
      counter-reset: step;
      background-color: #ffffff;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      border: solid #c8ced5;

      .details {
        p {
          font-size: 16px;
          font-weight: 500;
          padding: 15px 0;
          border-bottom: 1px solid #bbc2cb99;
        }
      }
      ul {
        list-style: none;
        position: relative;
        padding-left: 5px;
        li {
          padding: 10px 0 10px 20px;
          display: flex;
          align-items: center;
          cursor: pointer;
          position: relative;
        }
        li:before {
          content: "";
          position: absolute;
          background: white;
          border: 1px solid #d3d3d3;
          width: 17px;
          height: 17px;
          left: -9px;
          border-radius: 50%;
        }
        li:hover {
          font-weight: 600;
        }
        li.active {
          color: $primary-text-color;
          transition: color 0.5s ease-out;
        }
        li.routeActive {
          color: $primary-text-color;
          transition: color 0.5s ease-out;
        }
        li.valid {
          color: #228b22;
          transition: color 0.5s ease-out;
        }
        li.active::before {
          border: none;
          background: $primary-text-color !important;
          transition: 0.5s ease-in;
        }
        li.valid::before {
          border: none;
          background: #32ba7c !important;
          transition: 180ms linear;
        }
        .noCursor {
          cursor: not-allowed;
          // pointer-events: none;
        }
        .noCursor:active {
          // cursor: not-allowed;
          pointer-events: none;
        }
        .noCursor:hover {
          font-weight: 400;
        }
      }
      ul::after {
        content: " ";
        position: absolute;
        width: 1px;
        height: calc(100% - 40px);
        left: 4px;
        top: 0;
        background: #50635a;
        z-index: -1;
        margin-top: 18px;
      }
    }
  }
}

.check {
  border-radius: 0px;
  display: inline-block;
  transform: rotate(45deg);
  height: 8px;
  width: 4px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: absolute;
  margin-left: -22px;
  margin-bottom: 2px;
  transition: 0.5s linear;
}

.router {
  margin-left: 0px;
  width: 69%;
  // background-color: #ffffff;
  // box-shadow: 0.5px 0.87px 10px #00000012;
border-radius: 0px 0px 3px 3px;
margin-left: 20px;
margin-top: 2em;

}

.routerLeft {
  margin-left: 0em;
}

:host ::ng-deep .mat-button-focus-overlay {
  display: none !important;
}

.mat-button.no-hover ::ng-deep .mat-button-focus-overlay {
  background: none !important;
}

::ng-deep .popupModalContainerForForms {
  .main-wrapper {
    padding: 1em;
    background-color: white;
    display: block;
    width: 100%;
    .text {
      margin-top: 0.5em;
      font-size: 15px;
      text-align: center;
    }
    .button-wrapper-form-pop-up {
      display: grid;
      margin: 1em 0 0.5em 0;
      grid-template-columns: 110px 110px 110px;
      justify-content: center;
      width: 100%;
      justify-items: center;
      .b1,
      .b2,
      .b3 {
        border: 1px solid $common-button-bg;
        background-color: $white;
        color: #666666;
        line-height: 2;
        border-radius: 4px;
        font-size: 14px;
        /* "to left" / "to right" - affects initial color */
        background: linear-gradient(to left, white 50%, $common-button-bg 50%)
          right;
        background-size: 200%;
        transition: 0.5s ease-out;
        width: 90px;
      }
      .b1:hover,
      .b2:hover,
      .b3:hover {
        background-position: left;
        color: white;
      }
      .animation {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
      }
      .animation-zoom:hover {
        transform: perspective(1px) scale(1.02);
        // font-size: 15px;
        transition: transform 0.5s ease;
      }
    }
  }
}

.font-600 {
  font-weight: 600;
}

::ng-deep .stepper {
  span.mat-content.ng-tns-c208-1 {
  }
  mat-expansion-panel-header#mat-expansion-panel-header-0 {
    height: 150px;
    width: 100%;
    padding: 0 !important;
  }

  span.mat-expansion-indicator.ng-tns-c208-1.ng-trigger.ng-trigger-indicatorRotate.ng-star-inserted {
    bottom: 65px;
    position: relative;
    left: -10px;
  }
}
.profileStatus {
  width: 93px;
  height: 27px;
  background: #49ae31 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 24px 0px;
}

.profileExpansion {
  margin-top: 2em;
  background-color: #ffffff;
  border: solid #c8ced5;
  .exheader {
    display: flex;
    justify-content: space-between;
  }
}
.notexpand {
  padding: 20px;
  display: flex;
  align-items: center;
  .popUpHead {
    display: flex;
  }
  .notexpanddetails {
    width: 70%;
    padding-left: 10px;

    .name {
      font-size: 18px;
      color: #222222;
      margin-bottom: 0.2em;
    }
    .email {
      font-size: 14px;
      color: #666666;
      margin-bottom: 0.2em;
    }
    .loc {
      color: #222222;
      font-size: 14px;
      margin-bottom: 0.2em;
    }
  }
}
.expand {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .notexpanddetails {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .name {
      font-size: 25px;
      color: #222222;
      margin-bottom: 0.2em;
    }
    .email {
      font-size: 14px;
      color: #666666;
      margin-bottom: 0.2em;
    }
    .loc {
      color: #222222;
      font-size: 14px;
      margin-bottom: 0.2em;
    }
    .date {
      color: #222222;
      font-size: 14px;
      margin-bottom: 0.2em;
      font-weight: 500;
    }

    .gender {
      background-color: #5d7e8e;
      color: #ffffff;
      border-radius: 3px;
      width: 50px;
      text-align: center;
      font-size: 14px;
    }
  }
}
::ng-deep.profileExpansion {
  mat-icon {
    font-size: 25px !important;
    position: relative !important;
    top: -8px !important;
  }
}
.photo-wrapper {
  // width: 30%;
  height: 100%;
  // position: relative;
  .avatar {
    // position: absolute;
    // left: 50%;
    // width: 140px;
    // transform: translateX(-50%);
    .photo {
      border-radius: 50%;
      // top: -33px;
      // left: -112px;
      background-color: #f2f3f5;
      width: 100px;
      height: 100px;
      // border: 1px dashed #AAAAAA;
      position: relative;
      .remove {
        cursor: pointer;
        position: absolute;
        z-index: 10;
        border-radius: 50% !important;
        opacity: 0.85;
        top: -12px;
        padding: 0;
        margin: 0 !important;
        right: -12px;
        img {
          width: 24px;
          height: 24px;
        }
      }
      .changeprofile {
        cursor: pointer;
        position: absolute;
        z-index: 10;
        border-radius: 50% !important;
        opacity: 0.85;
        bottom: 5px;
        padding: 0;
        margin: 0 !important;
        right: 0px;
        img {
          width: 24px;
          height: 24px;
        }
      }

      label {
        display: block !important;
        margin: 0 !important;
      }
      .urlExist {
        position: absolute;
        width: 138px;
        height: 153px;
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
      .icon {
        position: absolute;
        left: 50%;
        top: 45%;
        width: 35px;
        transform: translate(-50%, -50%);
        height: 35px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .add-image {
        padding: 0 1em;
        position: absolute;
        bottom: 15px;
        font-size: 7px;
        width: 100%;
        display: flex;
        align-items: center;
        left: 6px;
        .mini-icon {
          img {
            width: 20px;
          }
        }
        span {
          margin-left: 0.5em;
        }
      }
      input[type="file"] {
        cursor: pointer;
        opacity: 0;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        /* IE 5-7 */
        filter: alpha(opacity=0);
        /* Netscape or and older firefox browsers */
        -moz-opacity: 0;
        /* older Safari browsers */
        -khtml-opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
      #file-upload-button {
        cursor: pointer !important;
      }
    }
    .error-section {
      margin-top: 0.5em;
      font-size: 11px;
      .notes {
        color: #717272;
      }
      .error {
        color: $primary-error-text;
      }
    }
  }
}
.crop-popup {
  .content {
    min-height: 38vh;
  }
  .popUpHead {
    align-items: center !important;
    justify-content: space-between !important;
  }
  .heading {
    background-color: #294d96;
    color: #ffffff;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
  }
  .add-image {
    padding: 0 1em;
    position: absolute;
    bottom: 15px;
    font-size: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    left: 6px;
    .mini-icon {
      img {
        width: 20px;
      }
    }
    span {
      margin-left: 0.5em;
    }
  }
  .urlExist {
    position: absolute;
    width: 138px;
    height: 153px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  .icon {
    width: 100%;

    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  // input[type="file"] {
  //   cursor: pointer;
  //   opacity: 0;
  //   /* IE 8 */
  //   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  //   /* IE 5-7 */
  //   filter: alpha(opacity=0);
  //   /* Netscape or and older firefox browsers */
  //   -moz-opacity: 0;
  //   /* older Safari browsers */
  //   -khtml-opacity: 0;
  //   position: relative;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   width: 100%;
  //   max-width: 100%;
  //   max-height: 100%;
  //   overflow: hidden;
  //   padding: 5px;
  // }
  // #file-upload-button {
  //   cursor: pointer !important;
  // }
  .uploadbutton {
    .file-input {
      display: none;
      cursor: pointer;
    }
    button {
      background-color: #294d96 !important;
      color: #ffffff;
      border: 0;
    }
  }
  .alignment {
    display: grid;
    justify-content: center;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d4d4d4;
    // top: 50px;
    // left: 20px;
  }
  .upload {
    background-color: #1b4e9b;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #1b4e9b;
    height: 35px;
    font-size: 14px;
    left: 0;
    cursor: pointer;
    font-weight: 300;
    padding: 10px;
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .action {
    display: flex !important;
    justify-content: space-evenly !important;
    button:disabled {
      cursor: not-allowed;
      color: #fff;
      background-color: #70707099;
      border: 1px solid #70707099;
    }
    .confirm {
      background: #294d96;
      color: #fff;
      padding: 0;
      height: 30px;
    }
    .cancel {
      border: 1px solid #294d96;
      border-radius: 4px;
      margin-left: 0;
      padding: 0;
      height: 30px;
      color: #294d96;
    }
  }
}

// image-cropper{
//   position: absolute !important;
//   z-index: -1;
// }
