<!-- Interview Component for Candidate Login -->
<app-general-join-interview
  *ngIf="role == 'candidate' && !showJoiningForm && isPermissionGranted()"></app-general-join-interview>

<div class="joining-form-wrapper w-100" style="font-family: lato;">
  <div *ngIf="!hideStepper" class="stepper">
    <div class="profileExpansion">
      <div class="exheader">
        <div [ngClass]="!expand? 'profileStatus' : 'profileStatusexp'">
          <p>Active</p>
        </div>
        <button [ngClass]="!expand? 'rotate' : 'rotate.down '" [disableRipple]="true" mat-icon-button
          (click)="expand = !expand"><mat-icon
            [ngClass]="!expand? 'rotate' : 'rotate down '">keyboard_arrow_down</mat-icon></button>
      </div>
      <div>
        <div class="notexpand" *ngIf="!expand">
          <div class="photo-wrapper">
            <div class="avatar">
              <div class="photo">
                <div *ngIf="!profilePicture.file_path && !cadidatefinalimage">
                  <img class="maskGroup" src="assets/images/candidateprofile/MaskGroup.png" alt="">
                </div>
                <div *ngIf="profilePicture && profilePicture.file_path" matTooltip="Remove Photo"
                  matTooltipPostion="after" (click)="delete()" class="remove">
                  <img src="assets/images/cancel-black-36dp.svg" alt="" srcset="">
                </div>
                <div *ngIf="profilePicture && profilePicture.file_path" matTooltip="Change profile image"
                  matTooltipPostion="after" (click)="open()" id="upload" class="changeprofile">
                  <img [src]="'assets/images/MaskGroup1.png'" alt="">
                </div>
                <label [ngClass]="profilePicture && profilePicture.file_path ? 'hoverable' : 'hoverable1'  ">
                  <ng-container *ngIf="!profilePicture.file_path">
                    <div (click)="open()" class="changeprofile" style="cursor: pointer;">
                      <img class="prfselect" src="assets/images/candidateprofile/profileSelectIcon.svg" alt="">
                    </div>
                  </ng-container>
                  <ng-container *ngIf="cadidatefinalimage ">
                    <div matTooltip="Remove Photo" matTooltipPostion="after" (click)="removeData($event)"
                      class="remove">
                      <i class="icon-BinDelete pointer binIcon ag-icon-font-size"></i>
                    </div>
                    <div matTooltip="Change profile image" matTooltipPostion="after" (click)="open()"
                      class="changeprofile">
                      <img class="prfselect" src="assets/images/candidateprofile/profileSelectIcon.svg" alt="">
                    </div>
                    <div class="urlExist">
                      <img [src]="cadidatefinalimage" alt="">
                    </div>
                  </ng-container>
                </label>
                <ng-template #matDialog1>
                  <div class="crop-popup">
                    <div class="popUpHead mb-0" mat-dialog-title>
                      <div class="heading">Select User Image</div>
                    </div>
                    <mat-dialog-content class="md-content m-0 p-0">
                      <div class="content">
                        <div class="noprfl" *ngIf="!imageChangedEvent">
                          <img class="noPrflImg" src="assets/images/candidateprofile/noProfile.png" alt="">
                        </div>
                        <div *ngIf="imageChangedEvent">
                          <image-cropper class="backgim" [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true" [aspectRatio]="4 / 3" format="png"
                            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                        </div>
                      </div>
                    </mat-dialog-content>
                    <div class="alignment">
                      <span class="uploadbutton">
                        <label for="upload" style="  cursor: pointer;position: relative;top: -2px;"
                          class="upload p-1 mb-0"> Upload New Image </label>
                        <input class="file-input"
                          [matTooltip]="profilePicture && profilePicture.file_path ? 'Click to Change Photo' : 'No File Chosen'"
                          matTooltipPostion="left" title="" id="upload" #files type='file' name="profile"
                          accept="image/*" (change)="fileChangeEvent($event)" /></span>
                    </div>
                    <div class="action" mat-dialog-actions>
                      <button class="confirm btn" mat-button [disabled]="IsToFeildEnable"
                        (click)="onSelectFile(croppedImage)">Save </button>
                      <button class="cancel" mat-button [mat-dialog-close]="true">Cancel </button>

                    </div>
                    <div class="note">
                      <label>Note:&nbsp;</label>.JPEG and .PNG format only supported. Maximum upload size is 2MB
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="notexpanddetails">
            <div class="name">{{this.name}}</div>
            <div class="email">{{this.email}}</div>
            <div class="loc">{{this.adrsCity?this.adrsCity +',' : 'NIL'}} {{this.stateName? this.stateName
              +',':'NIL'}}<span class="countryimg">&nbsp;<img
                  src="assets/images/candidateprofile/india_flag.svg"></span></div>
          </div>
        </div>
        <div class="expand" *ngIf="expand">
          <div class="photo-wrapper">
            <div class="avatar">
              <div class="photo">
                <div *ngIf="!profilePicture.file_path && !cadidatefinalimage">
                  <img class="maskGroup" src="assets/images/candidateprofile/MaskGroup.png" alt="">
                </div>
                <div *ngIf="profilePicture && profilePicture.file_path" matTooltip="Remove Photo"
                  matTooltipPostion="after" (click)="delete()" class="remove">
                  <img src="assets/images/cancel-black-36dp.svg" alt="" srcset="">
                </div>
                <div *ngIf="profilePicture && profilePicture.file_path" matTooltip="Change profile image"
                  matTooltipPostion="after" (click)="open()" id="upload" class="changeprofile">
                  <img [src]="'assets/images/MaskGroup1.png'" alt="">
                </div>
                <label [ngClass]="profilePicture && profilePicture.file_path ? 'hoverable' : 'hoverable1'  ">
                  <ng-container *ngIf="!profilePicture.file_path">
                    <div (click)="open()" class="changeprofile" style="cursor: pointer;">
                      <img class="prfselect" src="assets/images/candidateprofile/profileSelectIcon.svg" alt="">
                    </div>
                  </ng-container>
                  <ng-container *ngIf="cadidatefinalimage ">
                    <div matTooltip="Remove Photo" matTooltipPostion="after" (click)="removeData($event)"
                      class="remove">
                      <i class="icon-BinDelete pointer binIcon ag-icon-font-size"></i>
                    </div>
                    <div matTooltip="Change profile image" matTooltipPostion="after" (click)="open()"
                      class="changeprofile">
                      <img class="prfselect" src="assets/images/candidateprofile/profileSelectIcon.svg" alt="">
                    </div>
                    <div class="urlExist">
                      <img [src]="cadidatefinalimage" alt="">
                    </div>
                  </ng-container>
                </label>
                <ng-template #matDialog1>
                  <div class="crop-popup">
                    <div class="popUpHead mb-0" mat-dialog-title>
                      <div class="heading">Select User Image</div>
                      <!-- <mat-icon mat-dialog-close>close</mat-icon> -->
                    </div>
                    <mat-dialog-content class="md-content m-0 p-0">
                      <div class="content">
                        <div class="noprfl" *ngIf="!imageChangedEvent">
                          <img class="noPrflImg" src="assets/images/candidateprofile/noProfile.png" alt="">
                        </div>
                        <div *ngIf="imageChangedEvent">
                          <image-cropper class="backgim" [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true" [aspectRatio]="4 / 3" format="png"
                            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                        </div>
                      </div>
                    </mat-dialog-content>
                    <div class="alignment">
                      <span class="uploadbutton">
                        <label for="upload" style="  cursor: pointer;position: relative;top: -2px;"
                          class="upload p-1 mb-0"> Upload New Image </label>
                        <input class="file-input"
                          [matTooltip]="profilePicture && profilePicture.file_path ? 'Click to Change Photo' : 'No File Chosen'"
                          matTooltipPostion="left" title="" id="upload" #files type='file' name="profile"
                          accept="image/*" (change)="fileChangeEvent($event)" /></span>
                    </div>
                    <div class="action" mat-dialog-actions>
                      <button class="confirm btn" mat-button [disabled]="IsToFeildEnable"
                        (click)="onSelectFile(croppedImage)">Save </button>
                      <button class="cancel" mat-button [mat-dialog-close]="true">Cancel </button>
                    </div>
                    <div class="note">
                      <label>Note:&nbsp;</label>.JPEG and .PNG format only supported. Maximum upload size is 2MB
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="notexpanddetails">
            <div class="name mt-1">{{this.name}}</div>
            <div class="email mt-1">{{this.email}}</div>
            <!-- <div class="loc mt-1">{{this.addressCity?this.addressCity +',' : 'NIL'}} {{this.addressState? this.addressState
              +',':'NIL'}}  India<span class="countryimg">&nbsp;<img
                  src="assets/images/candidateprofile/india_flag.svg"></span></div>
            <div> -->
            <div class="loc mt-1">{{this.adrsCity?this.adrsCity +',' : 'NIL'}} {{this.stateName? this.stateName
              +',':'NIL'}}<span class="countryimg">&nbsp;<img
                  src="assets/images/candidateprofile/india_flag.svg"></span></div>
            <div>
              <div class="gender mt-1 mb-1 ">{{this.gender}}</div>
            </div>
            <div class="email mt-1">Member Since {{this.candycreateddate | date: "MMM dd, yyy"}} </div>
            <div class="email mt-1">Profile Last Updated on</div>
            <div class="date">{{this.updatedOn | date: "MMM dd, yyy" }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="stepper-wrapper">

      <div class="details">
        <p>My Profile Details </p>
      </div>
      <ul>
        <li (click)="validCheck('personal')"
          [ngClass]="[activeStep == 'personal' ? 'active' : (activeStep == 'personal' || activeStep == 'contact' || activeStep == 'dependent' || activeStep == 'education' || activeStep == 'work' || activeStep == 'project' || activeStep == 'accomplishments' || activeStep == 'upload' || activeStep == 'disciplinary' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor', routingSelection == 'personal' ? 'font-600' : '']">
          <div *ngIf="activeStep != 'personal'" class="check"></div>
          Personal Details
        </li>
        <li (click)="validCheck('contact')"
          [ngClass]="[activeStep == 'contact' ? 'active' : (activeStep == 'contact' || activeStep == 'dependent' || activeStep == 'education' || activeStep == 'work' || activeStep == 'project' || activeStep == 'accomplishments' || activeStep == 'upload' || activeStep == 'disciplinary' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor', routingSelection == 'contact' ? 'font-600' : '']">
          <div *ngIf="activeStep != 'contact'" class="check"></div>
          Contact Details
        </li>
        <li (click)="validCheck('dependent')"
          [ngClass]="[activeStep == 'dependent' ? 'active' : (activeStep == 'dependent' || activeStep == 'education' || activeStep == 'work' || activeStep == 'project' || activeStep == 'accomplishments' || activeStep == 'upload' || activeStep == 'disciplinary' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor', routingSelection == 'dependent' ? 'font-600' : '']">
          <div *ngIf="activeStep != 'dependent'" class="check"></div>
          Dependent Details
        </li>
        <li (click)="validCheck('education')"
          [ngClass]="[activeStep == 'education' ? 'active' : (activeStep == 'education' || activeStep == 'work' || activeStep == 'project' || activeStep == 'accomplishments' || activeStep == 'upload' || activeStep == 'disciplinary' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor', routingSelection == 'education' ? 'font-600' : '']">
          <div *ngIf="activeStep != 'education'" class="check"></div>
          Education Details
        </li>
        <li (click)="validCheck('work')"
          [ngClass]="[activeStep == 'work' ? 'active' : (activeStep == 'work' || activeStep == 'project' || activeStep == 'accomplishments' || activeStep == 'upload' || activeStep == 'disciplinary' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor', routingSelection == 'work' ? 'font-600' : '']">
          <div *ngIf="activeStep != 'work'" class="check"></div>
          Work Experience Details
        </li>
        <li (click)="validCheck('project')"
          [ngClass]="[activeStep == 'project' ? 'active' : (activeStep == 'project' || activeStep == 'accomplishments' || activeStep == 'upload' || activeStep == 'disciplinary' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor', routingSelection == 'project' ? 'font-600' : '']">
          <div *ngIf="activeStep != 'project'" class="check"></div>
          Project Details
        </li>
        <li (click)="validCheck('accomplishments')"
          [ngClass]="[activeStep == 'accomplishments' ? 'active' : (activeStep == 'accomplishments' || activeStep == 'upload' || activeStep == 'disciplinary' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor', routingSelection == 'accomplishments' ? 'font-600' : '']">
          <div *ngIf="activeStep != 'accomplishments'" class="check"></div>
          Accomplishments
        </li>
        <li (click)="validCheck('upload')"
          [ngClass]="[activeStep == 'upload' ? 'active' : (activeStep == 'upload' || activeStep == 'disciplinary' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor', routingSelection == 'upload' ? 'font-600' : '']">
          <div *ngIf="activeStep != 'upload'" class="check"></div>
          Upload Documents
        </li>
        <li (click)="validCheck('disciplinary')"
          [ngClass]="[activeStep == 'disciplinary' ? 'active' : (activeStep == 'disciplinary' || activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor', routingSelection == 'disciplinary' ? 'font-600' : '']">
          <div *ngIf="activeStep != 'disciplinary'" class="check"></div>
          Disciplinary Details
        </li>
        <li (click)="validCheck('preview')"
          [ngClass]="[activeStep == 'preview' ? 'active' : (activeStep == 'preview' || activeStep == 'submit') ? 'valid' : 'noCursor', routingSelection == 'preview' ? 'font-600' : '']">
          <div *ngIf="activeStep != 'preview'" class="check"></div>
          Preview & Submit
        </li>
        <li (click)="validCheck('submit')"
          [ngClass]="[activeStep == 'submit' ? 'active' : (activeStep == 'submit') ? 'valid' : 'noCursor', routingSelection == 'submit' ? 'font-600' : '']">
          <div *ngIf="activeStep != 'submit'" class="check"></div>
          Thankyou
        </li>
      </ul>
    </div>
  </div>
  <div class="router joining-form-main" [ngClass]="hideStepper ? 'routerLeft' : ''">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #matDialog>
  <div class="main-wrapper" style="font-family: lato;">
    <div class="closeIcon"><mat-icon mat-dialog-close>close</mat-icon></div>
    <div>
      <div class="warning-icon">
        <img class="iconfont" src="assets/images/candidateprofile/alerttt.png">
      </div>
      <div class="text">Do you want to change in the existing form?</div>
      <div class="button-wrapper-form-pop-up"
        [ngStyle]="{'grid-template-columns': !noSave ? '110px 110px' : '110px 110px'}">
        <button class="b1" (click)="closeDialog('save')" type="button" mat-raised-button>Save</button>
        <button *ngIf="!noSave" class="b2" (click)="closeDialog('noSave')" type="button" mat-raised-button>Skip</button>
        <!-- <button class="b3" (click)="closeDialog('cancel')" type="button" mat-raised-button>Cancel</button> -->
      </div>
    </div>

  </div>

</ng-template>
