<div class="joining-personal-wrapper" style="font-family: lato;">
  <div class="headcard pb-2">
    <h5 class="">
      Accomplishments
    </h5>
    <label class="h">
      Accomplishments will help you stand out to employers and increase your chances of landing a job interview. You can
      add your certifications, Research Publications and Awards
    </label>
  </div>
  <div class="grids-wrapper">
    <form class="dependentForm" [formGroup]="accomplishmentsForm" (ngSubmit)="formSubmit()">
      <div class="actions mt-0 mb-3 divcard pl-4">
        <div class="pr-3">
          <div class="overall-input-wrapper">
            <button [ngClass]="getCertificationsArr.controls.length == 0 ? 'onFocusButton' : ' onFocusButtondisabled' "
              class=" common-button-height-35 " mat-raised-button type="button" (click)="addToCertifications()">+ Add
              Certifications</button>
          </div>
        </div>
        <div class="pr-3">
          <div class="overall-input-wrapper">
            <button [ngClass]="getawardsArr.controls.length == 0 ? 'onFocusButton' : ' onFocusButtondisabled' "
              class=" common-button-height-35 " mat-raised-button type="button" (click)="addToawards()">+ Add
              Awards</button>
          </div>
        </div>
        <div class="pr-3">
          <div class="overall-input-wrapper">
            <button [ngClass]="getJournalEntryArr.controls.length == 0 ? 'onFocusButton' : ' onFocusButtondisabled' "
              class=" common-button-height-35 " mat-raised-button type="button" (click)="addToJournalEntry()">+ Add
              Journal Entry</button>
          </div>
        </div>
      </div>
      <ng-container>
        <ng-container *ngIf="getCertificationsArr && getCertificationsArr.controls"
          [formArrayName]="form_certificationsArray">
          <ng-container *ngFor="let item of getCertificationsArr.controls; let i = index;" [formGroupName]="i">
            <div>
              <div class="container-wrapper flex-container  justify-content-between align-items-center mt-0">
                <div class="form-grouping">
                  <div class="row-wrapper">
                    <div class="dependent-head">
                      <h6>Certification{{i+1}}</h6>
                      <div class="remove-wrapper">
                        <div (click)="removeData(i,'certification')" *ngIf="i >= 0  " matTooltip="Remove"
                          class="remove">
                          <i class="icon-BinDelete pointer ag-icon-font-size"></i>
                        </div>
                      </div>
                    </div>
                    <ng-container>
                      <div class="overall-input-wrapper width-32 0">
                        <label>Certification Name<span class="redTxt">*</span></label>
                        <div style="width: 100%;">
                          <input matInput placeholder="Enter here" class="input" type="text"
                            [formControlName]="form_certification_name">

                          <div class="form-error"
                            *ngIf="getCertificationsArr.controls[i].get(form_certification_name).invalid && getCertificationsArr.controls[i].get(form_certification_name).touched">
                            <div class="err"
                              *ngIf="getCertificationsArr.controls[i].get(form_certification_name).errors?.required">
                              Certification Name is Required</div>
                            <div class="err"
                              *ngIf="getCertificationsArr.controls[i].get(form_certification_name).errors?.alphaNum255">
                              Alpha numeric with maximum of 255 characters only
                              allowed</div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container>
                      <div class="overall-input-wrapper width-32 mb-0">
                        <label>Issued From<span class="redTxt">*</span></label>
                        <div style="width: 100%;">
                          <input matInput placeholder="Enter here" class="input" type="text"
                            [formControlName]="form_certification_issuedFrom">

                          <div class="form-error"
                            *ngIf="getCertificationsArr.controls[i].get(form_certification_issuedFrom).invalid && getCertificationsArr.controls[i].get(form_certification_issuedFrom).touched">
                            <div class="err"
                              *ngIf="getCertificationsArr.controls[i].get(form_certification_issuedFrom).errors?.required">
                              Certification Name is Required</div>
                            <div class="err"
                              *ngIf="getCertificationsArr.controls[i].get(form_certification_issuedFrom).errors?.alphaNum255">
                              Alpha numeric with maximum of 255 characters only
                              allowed
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <div class="overall-input-wrapper width-32 mb-0">
                      <label>Description</label>

                      <input matInput placeholder="Enter here" class="input" type="text"
                        [formControlName]="form_certification_description">
                    </div>
                    <ng-container>
                      <div class="overall-input-wrapper width-32 mb-0">
                        <label>Certification Validity From<span class="redTxt">*</span></label>
                        <div class="date-relative">
                          <div style="width: 100%;">
                            <input matInput class="input" [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                              placeholder="DD-MM-YYYY" [formControlName]="form_certification_validityFrom">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>

                            <div class="form-error"
                              *ngIf="getCertificationsArr.controls[i].get(form_certification_validityFrom).invalid && getCertificationsArr.controls[i]?.get(form_certification_validityFrom).touched">
                              <div class="err"
                                *ngIf="getCertificationsArr.controls[i].get(form_certification_validityFrom)?.errors?.required">
                                Validity From is Required</div>
                              <div class="err"
                                *ngIf="getCertificationsArr.controls[i].get(form_certification_validityFrom)?.errors?.matDatepickerMax">
                                {{getCertificationsArr.controls[i].get(form_certification_validityFrom)?.errors?.matDatepickerMax?.max
                                ?
                                'Maximum date should be ' +
                                momentForm(getCertificationsArr.controls[i].get(form_certification_validityFrom)?.errors?.matDatepickerMax.max)
                                : ''}}
                              </div>
                              <div class="err"
                                *ngIf="getCertificationsArr.controls[i].get(form_certification_validityFrom)?.errors?.matDatepickerMin">
                                {{getCertificationsArr.controls[i].get(form_certification_validityFrom)?.errors?.matDatepickerMin?.min
                                ?
                                'Minimum date should be ' +
                                momentForm(getCertificationsArr.controls[i].get(form_certification_validityFrom)?.errors?.matDatepickerMin.min)
                                : ''}}
                              </div>
                              <div class="err"
                                *ngIf="getCertificationsArr.controls[i].get(form_certification_validityFrom)?.errors?.matDatepickerParse">
                                Invalid Date Format</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!getCertificationsArr.controls[i].value.isexpire">
                      <div class="overall-input-wrapper width-32 mb-0">
                        <label>Certification Validity Upto<span class="redTxt">*</span></label>
                        <div class="date-relative">
                          <div style="width: 100%;">
                            <input matInput class="input" [min]="minDate" [max]="maxDate" [matDatepicker]="picker1"
                              placeholder="DD-MM-YYYY" [formControlName]="form_certification_validityUpto">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>

                            <div class="form-error"
                              *ngIf="getCertificationsArr.controls[i].get(form_certification_validityUpto).invalid && getCertificationsArr.controls[i]?.get(form_certification_validityUpto).touched">
                              <div class="err"
                                *ngIf="getCertificationsArr.controls[i].get(form_certification_validityUpto)?.errors?.required">
                                Validity Upto is Required</div>
                              <div class="err"
                                *ngIf="getCertificationsArr.controls[i].get(form_certification_validityUpto)?.errors?.matDatepickerMax">
                                {{getCertificationsArr.controls[i].get(form_certification_validityUpto)?.errors?.matDatepickerMax?.max
                                ?
                                'Maximum date should be ' +
                                momentForm(getCertificationsArr.controls[i].get(form_certification_validityUpto)?.errors?.matDatepickerMax.max)
                                : ''}}
                              </div>
                              <div class="err"
                                *ngIf="getCertificationsArr.controls[i].get(form_certification_validityUpto)?.errors?.matDatepickerMin">
                                {{getCertificationsArr.controls[i].get(form_certification_validityUpto)?.errors?.matDatepickerMin?.min
                                ?
                                'Minimum date should be ' +
                                momentForm(getCertificationsArr.controls[i].get(form_certification_validityUpto)?.errors?.matDatepickerMin.min)
                                : ''}}
                              </div>
                              <div class="err"
                                *ngIf="getCertificationsArr.controls[i].get(form_certification_validityUpto)?.errors?.matDatepickerParse">
                                Invalid Date Format</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <div *ngIf="getCertificationsArr.controls.length-1 == i "
                    class="overall-input-wrapper mt-2  width-100">
                    <div> <mat-checkbox (change)="isCertificateExpire($event, i)" [formControlName]="form_isexpire"
                        class="checkqualify mr-2 "></mat-checkbox><span>This certificate does not expire</span></div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div style="height: 68px !important ;"
            *ngIf="getCertificationsArr && getCertificationsArr.controls && getCertificationsArr.controls.length > 0  "
            class="pt-3  pb-3">
            <button class="onFocusButton common-button-height-35 " mat-raised-button type="button"
              (click)="addMoreCertifications()">+ Add More Certifications</button>
          </div>
        </ng-container>
        <!-- awards -->
        <ng-container *ngIf="getawardsArr && getawardsArr.controls && getawardsArr.controls.length" [formArrayName]="form_awardsArray">
          <ng-container *ngFor="let item of getawardsArr.controls; let i = index;" [formGroupName]="i">
            <div class="container-wrapper flex-container  justify-content-between align-items-center mt-0">
              <div class="form-grouping">
                <div class="row-wrapper">
                  <div class="divcard m-0">
                    <h5 class="h">Awards</h5>
                  </div>
                  <div class="dependent-head">
                    <h6 style="margin-top: 30px;">Awards{{i+1}}</h6>
                    <div class="remove-wrapper">
                      <div (click)="removeData(i,'awards')" *ngIf="i >= 0  " matTooltip="Remove" class="remove">
                        <i class="icon-BinDelete pointer ag-icon-font-size"></i>
                      </div>
                    </div>
                  </div>
                  <ng-container>
                    <div class="overall-input-wrapper width-32 mb-0">
                      <label>Award Title<span class="redTxt">*</span></label>
                      <div style="width: 100%;">
                        <input matInput placeholder="Enter here" class="input" type="text"
                          [formControlName]="form_award_title">

                        <div class="form-error"
                          *ngIf="getawardsArr.controls[i].get(form_award_title).invalid && getawardsArr.controls[i].get(form_award_title).touched">
                          <div class="err" *ngIf="getawardsArr.controls[i].get(form_award_title).errors?.required">
                            Awarded Title is Required</div>
                          <div class="err" *ngIf="getawardsArr.controls[i].get(form_award_title).errors?.alphaNum255">
                            Alpha numeric with maximum of 255 characters only
                            allowed</div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container>
                    <div class="overall-input-wrapper width-32 mb-0">
                      <label>Awarded Date<span class="redTxt">*</span></label>

                      <div class="date-relative">
                        <div style="width: 100%;">
                          <input matInput class="input" [min]="minDate" [max]="maxDate" [matDatepicker]="picker1"
                            placeholder="DD-MM-YYYY" [formControlName]="form_award_date">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>

                          <div class="form-error"
                            *ngIf="getawardsArr.controls[i]?.get(form_award_date).invalid && getawardsArr.controls[i]?.get(form_award_date).touched">
                            <div class="err" *ngIf="getawardsArr.controls[i].get(form_award_date)?.errors?.required">
                              Awarded Date is Required</div>
                            <div class="err"
                              *ngIf="getawardsArr.controls[i].get(form_award_date)?.errors?.matDatepickerMax">
                              {{getawardsArr.controls[i].get(form_award_date)?.errors?.matDatepickerMax?.max ?
                              'Maximum date should be ' +
                              momentForm(getawardsArr.controls[i].get(form_award_date)?.errors?.matDatepickerMax.max)
                              : ''}}
                            </div>
                            <div class="err"
                              *ngIf="getawardsArr.controls[i].get(form_award_date)?.errors?.matDatepickerMin">
                              {{getawardsArr.controls[i].get(form_award_date)?.errors?.matDatepickerMin?.min ?
                              'Minimum date should be ' +
                              momentForm(getawardsArr.controls[i].get(form_award_date)?.errors?.matDatepickerMin.min)
                              : ''}}
                            </div>
                            <div class="err"
                              *ngIf="getawardsArr.controls[i].get(form_award_date)?.errors?.matDatepickerParse">
                              Invalid Date Format</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

          </ng-container>
          <div style="height: 68px !important ;"
              *ngIf="getawardsArr && getawardsArr.controls && getawardsArr.controls.length < 5 " class=" pt-3 pb-3">
              <button class="onFocusButton common-button-height-35 " mat-raised-button type="button"
                (click)="addMoreAwards()">+ Add More Awards</button>
            </div>
        </ng-container>
        <!--journal entry-->

        <ng-container *ngIf="getJournalEntryArr && getJournalEntryArr.controls && getJournalEntryArr.controls.length"
          [formArrayName]="form_journalEntryArray">
          <div class="container-wrapper flex-container  justify-content-between align-items-center mt-0">
            <div class="form-grouping">
              <div class="row-wrapper">
                <div class="divcard m-0">
                   <h5 class="h">Research Publication/Journal Entry</h5>
                </div>
                <ng-container *ngFor="let item of getJournalEntryArr.controls; let i = index;" [formGroupName]="i">

                  <div class="dependent-head">
                    <h6 style="margin-top: 30px;">Research Publication{{i+1}}</h6>
                    <div class="remove-wrapper">
                      <div (click)="removeData(i,'journalEntry')" *ngIf="i >= 0  " matTooltip="Remove" class="remove">
                        <i class="icon-BinDelete pointer ag-icon-font-size"></i>
                      </div>
                    </div>
                  </div>
                  <ng-container>
                    <div class="overall-input-wrapper width-32 mb-0">
                      <label>Title<span class="redTxt">*</span></label>
                      <div style="width: 100%;">
                        <input matInput placeholder="Enter here" class="input" type="text"
                          [formControlName]="form_journalEntity_title">

                        <div class="form-error"
                          *ngIf="getJournalEntryArr.controls[i].get(form_journalEntity_title).invalid && getJournalEntryArr.controls[i].get(form_journalEntity_title).touched">
                          <div class="err"
                            *ngIf="getJournalEntryArr.controls[i].get(form_journalEntity_title).errors?.required">
                            Certification Name is Required</div>
                          <div class="err"
                            *ngIf="getJournalEntryArr.controls[i].get(form_journalEntity_title).errors?.alphaNum255">
                            Alpha numeric with maximum of 255 characters only allowed</div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container>
                    <div class="overall-input-wrapper width-32 mb-0">
                      <label>URL<span class="redTxt">*</span></label>
                      <div style="width: 100%;">
                        <input matInput placeholder="Enter here" class="input" type="text"
                          [formControlName]="form_journalEntity_url">

                        <div class="form-error"
                          *ngIf="getJournalEntryArr.controls[i].get(form_journalEntity_url).invalid && getJournalEntryArr.controls[i].get(form_journalEntity_url).touched">
                          <div class="err"
                            *ngIf="getJournalEntryArr.controls[i].get(form_journalEntity_url).errors?.required">
                            URL is Required</div>
                          <div class="err"
                            *ngIf="getJournalEntryArr.controls[i].get(form_journalEntity_url).errors?.urlRegex">
                            Please enter valid URL (eg: http://www.example.com)
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <div class="overall-input-wrapper width-32 mb-0">
                    <label>Published On<span class="redTxt">*</span></label>
                    <div class="date-relative">
                      <input matInput class="input" style="width:100% !important" [matDatepicker]="picker_dateofIssue"
                        placeholder="DD-MM-YYYY" [formControlName]="form_journalEntity_publishedOn">
                      <mat-datepicker-toggle matSuffix [for]="picker_dateofIssue"></mat-datepicker-toggle>
                      <mat-datepicker #picker_dateofIssue></mat-datepicker>
                    </div>
                  </div>
                  <div class="overall-input-wrapper width-32 mb-0">
                    <label>Description</label>
                    <input matInput placeholder="Enter here" class="input" type="text"
                      [formControlName]="form_journalEntity_description">
                  </div>
                </ng-container>

              </div>
            </div>
          </div>
        </ng-container>
        <div style="height: 68px !important ;" class="pt-3 pb-3 "
          *ngIf="getJournalEntryArr && getJournalEntryArr.controls && getJournalEntryArr.controls.length > 0 ">
          <button class="onFocusButton common-button-height-35 " mat-raised-button type="button"
            (click)="addMoreJournalEntry()">+ Add More Journal Entry</button>
        </div>
      </ng-container>
      <div class="row-wrapper justify-content-between d-flex flex-column  align-items-center mt-3 mb-3 footer">
        <!-- <div (click)="routeNext('contact')" class="d-flex align-content-center align-items-center position-relative"
          style="cursor: pointer;">
          <div class="left-arrow position-absolute"></div>
          <div class="sections left-space">
            <div class="label">Previous Section</div>
            <div class="value">Contact Details</div>
          </div>
        </div> -->
        <button class="common-button joining-form-submit mt-1 animation-zoom" mat-raised-button type="submit">Save &
          Continue</button>
        <!-- <div (click)="routeNext('education')"
          class="d-flex align-content-center align-items-center text-right position-relative pointer"
          style="cursor: pointer;">
          <div class="right-arrow position-absolute"></div>
          <div class="sections right-space">
            <div class="label">Next Section</div>
            <div class="value">Education Details</div>
          </div>
        </div> -->
      </div>
    </form>

  </div>
</div>
