<app-common-header></app-common-header>
<div class="scroll-height">
  <div class="sticky-subheaders">

      <div class="overlay">
      <img class="profilebanner" src="../../../assets/images/candidateprofile/se-banner.png">
      <div class="bttn">
        <span class="logout">
          <button class="backbtn" mat-raised-button (click)="extRedir()" matTooltip="Back">Back to Dashboard
          </button>
        </span>
      </div>
      <div class="bar">
        <div  role="progressbar" aria-valuenow="{{profilepercentage}}" aria-valuemin="0" aria-valuemax="100"
          style="--value:{{percentage}}"></div>
      </div>
    </div>
  <img class="white-overlay" src="/assets/images/whiteOverlay.png">

  </div>
  <router-outlet></router-outlet>
</div>
<app-dashboard-header></app-dashboard-header>
