<div>
  <form>
    <div class="backgroundwall">
      <div class="backgroundwhite">
        <div class="joining-personal-wrapper">
          <h5 class="header_profile">
            Profile Summary
          </h5>
          <P class="content_para">Write 2-4 short & energetic sentences to interest the reader! Mention your role,
            experience & most importantly - your biggest achievements, best qualities and skills</P>
          <div class="hr_line">
            <hr>
          </div>
          <!-- <div style="display:flex;align-items:center;"> -->
          <!-- <div>icon</div> -->
          <!-- <div></div> -->
          <!-- </div> -->
          <div>

            <button class="pre_button" (click)="showDialog = !showDialog">
              <!-- <em class="icon-thumsreview"></em> -->
              <em class="icon-camera "></em>
              Pre-written Phrases
            </button>
            <div *ngIf="showDialog">
              <div class="dlog_box">
                <!-- <div class="">
          <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="searchData" placeholder="Filter phrases by keyword and job title"
              (keyup)="applyFilter($event.target.value)"/>
            <button mat-button matPrefix mat-icon-button>
              <mat-icon class="searchIcon" (click)="searchList()" type="submit">search</mat-icon>
            </button>
            </mat-form-field>
        </div> -->

                <mat-form-field>
                  <div style="display: flex;justify-content: space-between;">
                    <div><span class="icon-Search"></span></div>
                    <div><input matInput type="search" placeholder="Filter"></div>
                  </div>
                  <!-- <mat-icon (click)="searchList()" type="submit"></mat-icon> -->

                </mat-form-field>
                <label class="most_popular">Most Popular</label>

                <div *ngFor="let content of contents" (click)="appendPara($event)">
                  <p class="phrase_1 targetcontent">{{content}} <span class="icon-RightArrow"></span></p>
                </div>
                <!-- <div (click)="appendPara($event)">
                  <p class="phrase_2 targetcontent">Dynamic Executive with six years of experience helping
                    organizations reach their full potential. Adept in making key decisions and working with other
                    professionals to achieve goals and solve problems. Experienced in managing employee and community
                    programs, and dedicated to successfully directing business operations.<span
                      class="icon-RightArrow"></span></p>

                </div> -->

              </div>
              <!-- <button (click)="showDialog = false">Close</button> -->
            </div>
          </div>


          <!-- <div class="grids-wrapper">
        <div class="uploadForm">

          <form class="uploadF" [formGroup]="uploadForm" (ngSubmit)="formSubmit()">

                <mat-accordion class="example-headers-align" multi>

                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h6 class="mt-0 mb-0 ml-0 mr-0">Resume Upload</h6>

                            </mat-panel-title>
                            <mat-panel-description>
                                <div class="cl">Accepted Formats (.pdf) (Maximum file size 2MB)</div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng-container *ngIf="getResumeArr && getResumeArr.controls"
                            [formArrayName]="form_resumeArray">
                            <ng-container *ngFor="let item of getResumeArr.controls; let j = index;"
                                [formGroupName]="j">

                                <div class="row-wrapper flexEnd" [ngClass]="getResumeArr.controls[j].get(form_file_path).invalid && getResumeArr.controls[j].get(form_file_path).touched ? 'custom-error-border' : ''">
                                    <div class="overall-input-wrapper min200 top22">
                                        <div class="readonlyTitle">
                                            {{getResumeArr.controls[j].get(form_label).value ? getResumeArr.controls[j].get(form_label).value : 'Resume'}}<span class="f_size_14 asterick">*</span>
                                        </div>
                                    </div>

                                    <div class="overall-input-wrapper width-20">
                                        <label>Document Description<span></span></label>
                                        <input matInput placeholder="Enter here" class="input" type="text"
                                            [formControlName]="form_description">
                                        <div class="form-error"
                                            *ngIf="getResumeArr.controls[j].get(form_description).invalid && getResumeArr.controls[j].get(form_description).touched">
                                            <div
                                                *ngIf="getResumeArr.controls[j].get(form_description).errors?.required">
                                                Document Description is Required</div>
                                            <div
                                                *ngIf="getResumeArr.controls[j].get(form_description).errors?.alphaNum255">
                                                Alpha numeric with maximum of 255 characters only
                                                allowed</div>
                                        </div>
                                    </div>

                                    <div class="overall-input-wrapper width-30 alignCenter top20">
                                        <label class="custom-upload"
                                            [ngClass]="!getResumeArr.controls[j].get(form_file_name).value ? 'choose-button' : 'preview'"
                                            [for]="j + getResumeArr.controls[j].get(form_label).value">
                                            <ng-container *ngIf="!getResumeArr.controls[j].get(form_file_name).value">
                                                <i class="icon-upload ag-icon-font-size-14"></i>
                                                <div class="choose">Choose a file</div>
                                            </ng-container>
                                            <ng-container *ngIf="getResumeArr.controls[j].get(form_file_name).value">
                                                <div class="uploaded-view">
                                                    <div [matTooltip]="'Choose another file'" class="ufilename">
                                                        {{getResumeArr.controls[j].get(form_file_name).value ? getResumeArr.controls[j].get(form_file_name).value : ''}}
                                                    </div>
                                                    <i [matTooltip]="'Remove'"
                                                        (click)="removeFile(j, conditionResume); $event.preventDefault()"
                                                        class="icon-cancel_black ag-icon-font-size pointer"></i>
                                                </div>
                                            </ng-container>
                                        </label>
                                        <input [id]="j + getResumeArr.controls[j].get(form_label).value" type="file" accept=".pdf" (click)="files.value = null" #files
                                            (change)="onSelectFile($event, j, conditionResume)" hidden>
                                        <div class="form-error"
                                            *ngIf="getResumeArr.controls[j].get(form_file_path).invalid && getResumeArr.controls[j].get(form_file_path).touched">
                                            <div
                                                *ngIf="getResumeArr.controls[j].get(form_file_path).errors?.required">
                                                Resume is Required</div>
                                            <div
                                                *ngIf="getResumeArr.controls[j].get(form_file_path).errors?.alphaNum255">
                                                Alpha numeric with maximum of 255 characters only
                                                allowed</div>
                                        </div>

                                    </div>

                                    <div class="overall-input-wrapper width-20 alignCenter top20">
                                        <button class="choose-button btnView" mat-raised-button
                                            (click)="openMatDialog(getResumeArr.controls[j].get(form_file_path).value, 'application/pdf')"
                                            [disabled]="getResumeArr.controls[j].get(form_file_path).value ? false : true"
                                            type="button"> View</button>
                                    </div>


                                </div>
                            </ng-container>
                        </ng-container>
                    </mat-expansion-panel>



                </mat-accordion>


                <div class="row-wrapper justify-content-between align-items-center mt-5 mb-3 footer">
                    <div (click)="routeNext('work')"
                        class="d-flex align-content-center align-items-center position-relative"
                        style="cursor: pointer;">
                        <div class="left-arrow position-absolute"></div>
                        <div class="sections left-space">
                            <div class="label">Previous Section</div>
                            <div class="value">Work Experience Details</div>
                        </div>
                    </div>
                    <button class="common-button joining-form-submit mt-1 animation-zoom" mat-raised-button
                        type="submit">Save &
                        Continue</button>
                    <div (click)="routeNext('preview')"
                        class="d-flex align-content-center align-items-center text-right position-relative pointer"
                        style="cursor: pointer;">
                        <div class="right-arrow position-absolute"></div>
                        <div class="sections right-space">
                            <div class="label">Next Section</div>
                            <div class="value">Preview Details</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="photo-wrapper">
        </div>
    </div>-->
          <div class="written_phrase_border">
            <textarea #inputField id="phrasebox" class="Eg_phrase"
              placeholder="E.g. Engineering Graduate with 2+ years of experience..."></textarea>
          </div>
        </div>
      </div>

      <div class="backgroundwhite_uploadresume">
        <label class="head_upload">Upload Resume <span>*</span></label>
        <div class="hr_line">
          <hr>
        </div>
        <div class="upload_resume_border">
          <div class="upload_stud_resume">
            <div class="cloud_img">
              <!-- <img src="/assets/images/Group 2.svg"> -->
              <!-- <div (drop)="onDrop($event)" (dragover)="onDragOver($event)"> -->
              <!-- <input type="file" (change)="onFileSelected($event)" #fileInput> -->
              <!-- <div class="drag_drop_text"> -->
              <!-- <label>Drag and drop files here</label> -->
              <!-- </div> -->
              <!-- </div> -->
              <div class="dropzone" (change)="($event)" (click)="$event.target.value=null" type="file" alt="upload">
                <!-- <input multiple (change)="($event.target.files)"/> -->
                <div>

                  <img src="/assets/images/Group 2.svg" alt="">
                </div>
                <h3> Drag and Drop file here</h3>
                <h3>or</h3>
                <label for="fileDropRef">Browse for file</label>
              </div>
            </div>

            <div class="or">
              <label>or</label>
            </div>
            <div class="upload_student_resume">
              <input class="file-input" type="file" id="upload" name="image" accept="applicaion/pdf" (change)="($event)"
                (click)="$event.target.value=null" type="file" alt="upload" />
            </div>
            <!-- cancel button -->
            <!-- <div class="closeupload">
  <div class="close_btn"> <span [matTooltip]="fileName" class="blackLable subInstruction"></span></div>
  <div *ngIf="fileName" class="close" (click)="cancleUpload()">
    <span class="pointer-close"><mat-icon class="close-icon">close</mat-icon></span>
  </div>
</div> -->
            <!--  -->
            <div class="note_upload">
              <span class="note_clr">Note:</span>
              <span class="note_text"> .PDF format only supported. Maximum upload size is 2MB</span>
            </div>
          </div>
        </div>
      </div>
      <div class="Save_nd_cntnu">
        <button type="submit">Save & Continue</button>
      </div>
    </div>
  </form>
</div>
<!-- <ng-template #matDialog>
    <div class="main-wrappers">
      <div class="pdf-viewer-close">
        <i matTooltip="Download" style="font-size: 26px; position: absolute; right: 30px;" (click)="downloadFile(pdfsrc)"
        class="icon-get_app_black_24dp ag-icon-font-size pointer"></i>

        <i (click)="closeBox()"
            class="icon-cancel_black ag-icon-font-size pointer primary-clr"></i>
    </div>

        <pdf-viewer style="display:contents !important" [src]="pdfsrc"
        [rotation]="0"
        [original-size]="false"
        [show-all]="true"
        [fit-to-page]="false"
        [zoom]="1"
        [zoom-scale]="'page-width'"
        [stick-to-page]="false"
        [render-text]="true"
        [external-link-target]="'blank'"
        [autoresize]="true"
        [show-borders]="false"
        [original-size]="false"
        ></pdf-viewer>
    </div>

</ng-template>

<ng-template #noDocs>
    <div class="no-doc-wrapper">
        <div class="note">
            Note:
        </div>
        <div class="doctext">* Below Documents are not uploaded. If you wish to upload now, Go back and upload these
            docs.</div>
        <div class="doctext">* If you Don't have these documents, Please mention the Reason below and Select the date,
            when we can expext those Documents</div>
        <h6 class="title">Not Uploaded Documents</h6>
        <div class="nodoc-list">
            <ng-container *ngIf="joiningNotUploadedDocs && joiningNotUploadedDocs.length > 0">
                <div class="sub-title">Joining Documents</div>
                <ol class="no-nested">
                    <li *ngFor="let doc of joiningNotUploadedDocs">{{doc.label}}</li>
                </ol>
            </ng-container>

            <ng-container *ngIf="educationNotUploadedDocs && educationNotUploadedDocs.length > 0">
                <div class="sub-title">Education Documents</div>
                <ol class="nested">
                    <li *ngFor="let doc of educationNotUploadedDocs">{{doc.label}}
                        <ul class="no-nested pl-0 pt-0">
                            <li *ngFor="let sub of doc.subDocs" style="font-size: 13.5px;">{{sub.label}}</li>
                        </ul>

                        </li>
                </ol>
            </ng-container>

            <ng-container *ngIf="transferNotUploadedDocs && transferNotUploadedDocs.length > 0">
                <div class="sub-title">Transfer Certificate</div>
                <ol class="no-nested">
                    <li *ngFor="let doc of transferNotUploadedDocs">{{doc.label}}</li>
                </ol>
            </ng-container>

            <ng-container *ngIf="resumeNotUploadedDocs && resumeNotUploadedDocs.length > 0">
                <div class="sub-title">Resume</div>
                <ol class="no-nested">
                    <li *ngFor="let doc of resumeNotUploadedDocs">{{doc.label}}</li>
                </ol>
            </ng-container>

            <ng-container *ngIf="bankNotUploadedDocs && bankNotUploadedDocs.length > 0">
                <div class="sub-title">Bank Details</div>
                <ol class="no-nested">
                    <li *ngFor="let doc of bankNotUploadedDocs">{{doc.label}}</li>
                </ol>
            </ng-container>

        </div>
        <h6 class="title">Not Having Documents</h6>
        <div class="row-wrapper">
            <div class="overall-input-wrapper width-45">
                <label>Reason<span>*</span></label>
                <textarea matInput placeholder="Enter here" class="input text-area" type="text"
                    [formControl]="reason"></textarea>
                <div class="form-error" *ngIf="reason.invalid && reason.touched">
                    <div *ngIf="reason.errors?.required">
                        Reason is Required</div>
                    <div *ngIf="reason.errors?.alphaNum255">
                        Alpha numeric with maximum of 255 characters only
                        allowed</div>
                </div>

            </div>
            <div class="overall-input-wrapper width-32">
                <label class="dateInput">Expected Date<span></span></label>
                <div class="date-relative">
                    <input matInput class="input dateInput" [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                        placeholder="DD-MM-YYYY" [formControl]="expectedDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
                <div class="form-error dateInput" *ngIf="expectedDate.invalid && expectedDate.touched">
                    <div *ngIf="expectedDate?.errors?.required">
                        Expected Date is Required</div>
                    <div *ngIf="expectedDate?.errors?.matDatepickerMax">
                        {{expectedDate?.errors?.matDatepickerMax?.max ? 'Maximum date should be ' + momentForm(expectedDate?.errors?.matDatepickerMax.max) : ''}}
                    </div>
                    <div *ngIf="expectedDate?.errors?.matDatepickerMin">
                        {{expectedDate?.errors?.matDatepickerMin?.min ? 'Minimum date should be ' + momentForm(expectedDate?.errors?.matDatepickerMin.min) : ''}}
                    </div>
                    <div *ngIf="expectedDate?.errors?.matDatepickerParse">
                        Invalid Date Format</div>
                </div>
            </div>
        </div>
        <div class="row-wrapper justify-content-center align-items-center mt-4">
            <button class="common-cancel-button common-button-height-30 animation-zoom" type="button"
                (click)="closeBox()" mat-raised-button>Cancel</button>
            <button class="common-button common-button-height-30 animation-zoom ml-3" (click)="validateNotUploaded()" type="button"
                mat-raised-button>Submit</button>
        </div>

    </div>

</ng-template>-->
