<div style="font-family: lato;">
  <form class="uploadF" [formGroup]="uploadForm">
    <div class="backgroundwall">
      <div class="backgroundwhite">
        <div class="joining-personal-wrapper">
          <h5 class="header_profile">
            Profile Summary
          </h5>
          <P class="content_para">Write 2-4 short & energetic sentences to interest the reader! Mention your role,
            experience & most importantly - your biggest achievements, best qualities and skills</P>
          <div class="hr_line_1">
            <hr>
          </div>
          <div>
            <div class="pre_button" (click)="showDialog = !showDialog">
              <div style="border: none;background-color: #FFFFFF;">
                <em style="cursor: pointer"
                  [ngClass]="{'icon-circled_X_icon x_circle_icon': showDialog, 'icon-circled_plus_icon plus_icon': !showDialog }"></em>
              </div>
              <div style="border: none;cursor: pointer;margin: -1px 0px 0px 10px;">
                Pre-written Phrases
              </div>
            </div>
            <div *ngIf="showDialog">
              <div class="dlog_box">
                <mat-form-field class="searchbox">
                  <!-- <mat-label>Filter phrases by keyword and job title</mat-label> -->
                  <mat-icon matPrefix>search </mat-icon>
                  <input  type="text" matInput placeholder="Filter phrases by keyword and job title" (keyup)="applyFilter($event.target.value)">
                </mat-form-field>
                <div><label class="most_popular"><span class="icon-awesome_crown_icon"></span>
                  Most Popular</label></div>
                <div *ngFor="let content of contents;let i = index" style="padding:0px 0px 0px 20px">
                  <div (click)="appendPara(content,i)">

                    <p class="phrase_1 targetcontent"><span class="rem">{{content.description}}</span><span id="rem_id"
                        [ngClass]="{'icon-circled_tick_icon circled_tick': selectedFlag && selectedContentIndex === i, 'icon-right_arrow_circled right_arrow': !selectedFlag || selectedContentIndex !== i}"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="written_phrase_border">
            <textarea  [(ngModel)]="Pre_written_phrase" [ngModelOptions]="{standalone: true}" class="Eg_phrase"
              placeholder="E.g. Engineering Graduate with 2+ years of experience..." style="margin:0px 0px 0px 0px"></textarea>
          </div>
        </div>
      </div>

      <!-- <div class="draganddrop_parent">
        <div class="drag_img">
          <ngx-file-drop dropZoneLabel="Drop files here" [dropZoneClassName] = "'drag_img'" (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
              <img src="../../assets/images/upload.svg">
              <br>
              <span class="draganddropinnertext">Drag and drop files here</span>
              <button type="button" (click)="openFileSelector()">Browse Files</button>
            </ng-template>
        </ngx-file-drop>
        <div *ngFor="let item of files; let i=index">
          <h5><strong>{{ item.relativePath }}</strong></h5>
        </div>
        </div>
      </div> -->

       <div class="backgroundwhite_uploadresume">
        <label class="head_upload">Upload Resume <span class="redTxt">*</span></label>
        <div class="hr_line">
          <hr>
        </div>
        <div class="upload_resume_border">
          <div class="upload_stud_resume">
            <div class="cloud_img">
              <div class="dropzone">
                <div>
                  <img src="/assets/images/Group 2.svg" alt="">
                </div>
                <h3> Drag and Drop file here</h3>
                <h3 class="or">or</h3>
                <h3 for="fileDropRef">Browse for file</h3>
              </div>
            </div>

            <div class="alig">
              <div class="alignment">
                <div appFiledrag (fileEmitter)="onFileSelected($event,true)">
                  <input class="file-input" type="file"  id="upload" name="image" accept="application/pdf" [formControlName]="form_resumeArray"
                    (change)="onFileSelected($event,false)" (click)="$event.target.value=null" type="file" alt="upload" />
                  <label for="upload" class="uploadbutton">
                    <i class="bi bi-cloud-arrow-up"></i> {{trimFilename(fileName) || "No file choosen"}}
                  </label>
                </div>

                <div (click)="downloadFile(pdfdoc)" class="download_btn">
                  <span class="icon-download_icon dwlnd_icon"></span>
                </div>
                <div *ngFor="let item of files; let i=index">
                  <h5><strong>{{ item.relativePath }}</strong></h5>
                </div>
              </div>
            </div>
            <div class="note_upload">
              <span class="note_clr">Note:</span>
              <span class="note_text"> .PDF format only supported. Maximum upload size is 2MB</span>
            </div>
          </div>
        </div>
      </div>
      <div (click)="formSubmit()" class="Save_nd_cntnu mt-1 animation-zoom">
        <button type="submit">Save & Continue</button>
      </div>
    </div>
  </form>
</div>






