@import "../../../themes/themes.scss";

.divcard{
  background-color: #ffffff;
  padding: 3% 3% 3% 3%;
  border-bottom: solid 1px #BBC2CB99;
}
.h{
  border-bottom: 1px solid #BBC2CB99;
  padding-bottom: 10px;
}
.input {
  max-height:100px  !important;
}
:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: $primary-color !important;
}
