<div class="joining-personal-wrapper">
  <div class="headcard pb-2">
    <h5 class="h">
      Acadamic Project Details
    </h5>
    <label>
      It is important to highlight the academic projects that highlight transferable skills are relevant to the job
      you're applying for. Use bulleted points to note your achievements, if Possible -
    </label>

  </div>
  <div class="grids-wrapper">
    <form class="personalForm" [formGroup]="projectForm" (ngSubmit)="formSubmit()">
      <div class="row-wrapper">
        <ng-container *ngIf="getprojectArr && getprojectArr.controls"  [formArrayName]="form_projectArray">
          <ng-container *ngFor="let item of getprojectArr.controls; let i = index;" [formGroupName]="i">
            <div class="carddiv pt-0 pb-4">
              <div class="d-flex justify-content-between">
                <h6>Project{{i+1}}</h6>
                <div class="remove-wrapper">
                  <div (click)="removeData(i)" *ngIf="i >= 0" matTooltip="Remove" class="remove">
                    <i class="icon-BinDelete pointer ag-icon-font-size"></i>
                  </div>
                </div>
              </div>
              <ng-container >
              <div class="overall-input-wrapper width-45">
                <label>Project Type<span class="redTxt">*</span></label>
                <nz-select class="input select" [formControlName]="form_typeList" nzAllowClear nzShowSearch
                  nzPlaceHolder="Select">
                  <nz-option *ngFor="let typeList of projectTypeList" [nzLabel]="typeList.label"
                    [nzValue]="typeList.value"></nz-option>
                </nz-select>
                </div>
                <div class="form-error"*ngIf="getprojectArr.controls[i].get(form_typeList).invalid && getprojectArr.controls[i].get(form_typeList).touched">
                  <div class="err"  *ngIf="getprojectArr.controls[i].get(form_typeList).errors?.required">Project Type is Required</div>
                  <!-- <div *ngIf="getprojectArr.controls[i].get(form_typeList).errors?.alphaNum255">Please enter a valid 10 digit mobile number</div> -->
                </div>
            </ng-container>
              <ng-container >
                <div class="overall-input-wrapper width-45">
                  <label>Team Size<span class="redTxt">*</span></label>
                  <input matInput placeholder="Enter here" class="input" type="text" [formControlName]="form_teamSize">
                </div>
                <div class="form-error"*ngIf="getprojectArr.controls[i].get(form_teamSize).invalid && getprojectArr.controls[i].get(form_teamSize).touched">
                    <div class="err"  *ngIf="getprojectArr.controls[i].get(form_teamSize).errors?.required">Team Size is Required</div>
                    <div class="err"  *ngIf="getprojectArr.controls[i].get(form_teamSize).errors?.alphaNum255">Please enter a valid 10 digit mobile number</div>
                  </div>
              </ng-container>
                <ng-container >
                  <div class="overall-input-wrapper width-100">
                    <label>Title of the Project<span class="redTxt">*</span></label>
                    <input matInput class="input" placeholder="Name (as per Aadhaar)" type="text"
                      [formControlName]="form_projectTitle">
                    </div>
                  <div class="form-error"*ngIf="getprojectArr.controls[i].get(form_projectTitle).invalid && getprojectArr.controls[i].get(form_projectTitle).touched">
                    <div class="err"  *ngIf="getprojectArr.controls[i].get(form_projectTitle).errors?.required">Title of the Project is Required</div>
                    <div class="err"  *ngIf="getprojectArr.controls[i].get(form_projectTitle).errors?.alphaNum255">Please enter a valid 10 digit mobile number</div>
                  </div>
                </ng-container>
                <ng-container >
                  <div class="overall-input-wrapper width-100">
                    <label>Organization<span class="redTxt">*</span></label>
                    <input matInput class="input" placeholder="Name (as per Aadhaar)" type="text"
                      [formControlName]="form_projectOrganization">
                    </div>
                    <div class="form-error"*ngIf="getprojectArr.controls[i].get(form_projectOrganization).invalid && getprojectArr.controls[i].get(form_projectOrganization).touched">
                      <div class="err"  *ngIf="getprojectArr.controls[i].get(form_projectOrganization).errors?.required">Organization is Required</div>
                      <div class="err"  *ngIf="getprojectArr.controls[i].get(form_projectOrganization).errors?.alphaNum255">Please enter a valid 10 digit mobile number</div>
                    </div>
                </ng-container>
              <ng-container >
                <div class="overall-input-wrapper width-100">
                  <label>Period From<span class="redTxt">*</span></label>
                    <div class="date-relative">
                      <input matInput class="input" [min]="minDate" [max]="maxDate" [matDatepicker]="pickerProject"
                        placeholder="DD-MM-YYYY" [formControlName]="form_periodFrom">
                      <mat-datepicker-toggle matSuffix [for]="pickerProject"></mat-datepicker-toggle>
                      <mat-datepicker #pickerProject></mat-datepicker>
                    </div>
                  </div>
                  <div class="form-error"
                      *ngIf="getprojectArr.controls[i].get(form_periodFrom).invalid && getprojectArr.controls[i].get(form_periodFrom).touched">
                      <div class="err"  *ngIf="getprojectArr.controls[i].get(form_periodFrom)?.errors?.required">
                        Period From is Required</div>
                      <div class="err"  *ngIf="getprojectArr.controls[i].get(form_periodFrom)?.errors?.matDatepickerMax">
                        {{getprojectArr.controls[i].get(form_periodFrom)?.errors?.matDatepickerMax?.max ?
                        'Maximum date should be ' +
                        momentForm(getprojectArr.controls[i].get(form_periodFrom)?.errors?.matDatepickerMax.max)
                        : ''}}
                      </div>
                      <div class="err"  *ngIf="getprojectArr.controls[i].get(form_periodFrom)?.errors?.matDatepickerMin">
                        {{getprojectArr.controls[i].get(form_periodFrom)?.errors?.matDatepickerMin?.min ?
                        'Minimum date should be ' +
                        momentForm(getprojectArr.controls[i].get(form_periodFrom)?.errors?.matDatepickerMin.min)
                        : ''}}
                      </div>
                      <div class="err"  *ngIf="getprojectArr.controls[i].get(form_periodFrom)?.errors?.matDatepickerParse">
                        Invalid Date Format</div>
                    </div>
              </ng-container>
              <ng-container >
                <div class="overall-input-wrapper width-100">
                  <label>Period To<span class="redTxt">*</span></label>
                    <div class="date-relative">
                      <input matInput class="input" [min]="minDate" [max]="maxDate" [matDatepicker]="pickerProject1"
                        placeholder="DD-MM-YYYY" [formControlName]="form_periodTo">
                      <mat-datepicker-toggle matSuffix [for]="pickerProject1"></mat-datepicker-toggle>
                      <mat-datepicker #pickerProject1></mat-datepicker>
                    </div>
                  </div>
                  <div class="form-error"
                      *ngIf="getprojectArr.controls[i].get(form_periodTo).invalid && getprojectArr.controls[i].get(form_periodTo).touched">
                      <div class="err"  *ngIf="getprojectArr.controls[i].get(form_periodTo)?.errors?.required">
                        Period To is Required</div>
                      <div class="err"  *ngIf="getprojectArr.controls[i].get(form_periodTo)?.errors?.matDatepickerMax">
                        {{getprojectArr.controls[i].get(form_periodTo)?.errors?.matDatepickerMax?.max ?
                        'Maximum date should be ' +
                        momentForm(getprojectArr.controls[i].get(form_periodTo)?.errors?.matDatepickerMax.max)
                        : ''}}
                      </div>
                      <div class="err"  *ngIf="getprojectArr.controls[i].get(form_periodTo)?.errors?.matDatepickerMin">
                        {{getprojectArr.controls[i].get(form_periodTo)?.errors?.matDatepickerMin?.min ?
                        'Minimum date should be ' +
                        momentForm(getprojectArr.controls[i].get(form_periodTo)?.errors?.matDatepickerMin.min)
                        : ''}}
                      </div>
                      <div class="err"  *ngIf="getprojectArr.controls[i].get(form_periodTo)?.errors?.matDatepickerParse">
                        Invalid Date Format</div>
                    </div>
              </ng-container>
              <ng-container >
                <div class="overall-input-wrapper width-100">
                  <label>Description<span class="redTxt">*</span></label>
                  <input matInput class="input" placeholder="Name (as per Aadhaar)" type="text"
                    [formControlName]="form_projectDescription">
                  </div>
                  <div class="form-error"*ngIf="getprojectArr.controls[i].get(form_projectDescription).invalid && getprojectArr.controls[i].get(form_projectDescription).touched">
                      <div class="err"  *ngIf="getprojectArr.controls[i].get(form_projectDescription).errors?.required">Description is Required</div>
                      <div class="err"  *ngIf="getprojectArr.controls[i].get(form_projectDescription).errors?.alphaNum255">Please enter a valid 10 digit mobile number</div>
                    </div>
              </ng-container>

            </div>

          </ng-container>
          <div
          *ngIf="getprojectArr && getprojectArr.controls && getprojectArr.controls.length >= 0 "
          class="pt-3 row-wrapper flexEnd  justify-content-between  pb-3">
          <button class="onFocusButton common-button-height-35 " mat-raised-button type="button"
            (click)="addMoreCertifications()">+ Add More Certifications</button>
        </div>
        </ng-container>

        <div class="row-wrapper p-1  justify-content-between align-items-center mt-3 mb-3 footer">
          <!-- <div (click)="routeNext('work')" class="d-flex align-content-center align-items-center position-relative"
            style="cursor: pointer;">
            <div class="left-arrow position-absolute"></div>
            <div class="sections left-space">
              <div class="label">Previous Section</div>
              <div class="value">Work Experience Details</div>
            </div>
          </div> -->
          <button class="common-button joining-form-submit mt-1 animation-zoom" mat-raised-button type="submit">Save &
            Continue</button>
          <!-- <div (click)="routeNext('accomplishments')"
            class="d-flex align-content-center align-items-center text-right position-relative pointer"
            style="cursor: pointer;">
            <div class="right-arrow position-absolute"></div>
            <div class="sections right-space">
              <div class="label">Next Section</div>
              <div class="value">Preview Details</div>
            </div>
          </div> -->
        </div>
      </div>
    </form>
  </div>
</div>
