@import "../../themes/themes.scss";

.main-wrapper-login {
  overflow: auto;
  display: flex;
  justify-content: center;
  height: 100%;
  background: url('/assets/images/loginBG.png') no-repeat;
  background-size: auto ;
  @media only screen and (min-width: 1366px) {
    background-size: 100% auto ;
  }
  @media only screen and (min-height:900px) {
    background-size: auto 100% ;
  }
  @media only screen and (min-width: 1366px) and (min-height:900px) {
    background-size: 100% 100% ;
  }

  .sub-wrapper {
    background-color: #000000a6;
    padding: 0;
    color: $primary;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    // background: $wrapper-light-gray 0% 0% no-repeat padding-box;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
  }
}

.beforeloginimg {
  // margin-bottom:10%;
  @media only screen and (min-width: 766px) {
      display:none;
  }


}

.absolute-line {
  display: none;
  position: absolute;
  height: 100vh;
  z-index: 1;
}
.border-right{
  border-right: 1px solid rgba(0,0,0,0.15) !important;
}

.formWrapper {
  width: 75%;
  @media only screen and (max-width: 767px) {
    width:100%
  }
  @media only screen and (min-width: 1400px) {
    width: 60%;
  }
  @media only screen and (min-width: 1500px) {
    width: 50%;
  }
}
.container-reg200 {
  width: 100%;
  height: 100%;
  display: flex;
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    margin: 60px 0;
  }
  .left, .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .left {
    @media only screen and (max-width: 767px) {
      display: none;
    }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   width: 1px;
    //   height: 100%;
    //   background-color: rgba(0,0,0,0.15);
    // }
  }
  .right {
    flex-direction: column;
    @media only screen and (max-width: 767px) {
      width: 90%;
      margin: 0 auto;
      justify-content: space-evenly;
    }
  }
}
.ltext{
  text-align: left;
  align-items:left;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  .talentxt{
    margin-top: 100px;
    font-size: 40px;
    color: white;
    width: 80%;
    .slim{
      font-weight: lighter;
    }
    .decocolor{
      background: rgb(38,193,246);
      background: linear-gradient(90deg, rgba(38,193,246,1) 0%, rgba(92,182,70,1) 100%);
      border-radius: 5px;
      height: 3px;
      width: 64px;
      margin-top:10px;
    }
    p{
      margin-top:30px;
      font-style: Roboto;
      font-weight: lighter;
      font-size: 16px;
    }
  }
}

.landing-heading {
  text-align: center !important;
  color: $primary-text-color !important;
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 60px 0 !important;
  letter-spacing: 0.5px;
}

// Footer area
.footer-section{
display: flex;
position: relative;
align-items: center;
padding: 0px 0px 0px 100px;
font-size: 10px;
height: 40px;
color: #F0F0F0;
// border-top: 1px solid #929292;
  border-bottom: 3px solid;
  border-image-source: linear-gradient(90deg, rgba(27,78,155,1) 0%, rgba(28,90,164,1) 33%, rgba(38,191,245,1) 33%, rgba(38,193,246,1) 67%, rgba(84,184,98,1) 67%, rgba(92,182,70,1) 100%);
  border-image-slice: 1;
}
.footer-section::before{
  border-top: 1px solid #ffffff38;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  content: "";
}
.footer-section::after{
  content: "";
  position: absolute;
  left: 7%;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 8px solid #00000000;
  border-right: 8px solid #00000000;
  border-bottom: 6px solid #00519c;
  clear: both;
}


// mobile
@media (max-width: 480px) and (max-width: 320px) and (orientation: portrait){
  .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: 0px !important;
      margin-left: 0px !important;
  }

}


@media (max-width: 767px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

}

@media only screen and (max-width: 768px) and (max-width: 1024px)  {
  .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .row {
      margin-right: 0px !important;
      margin-left: 0px !important;
  }


}

@media (min-width: 768px) {
 .absolute-line {
   display: block;
 }
}

.middleCT{
  width: 25%;
  margin: 0 auto;
  @media only screen and (max-width: 1024px) {
    width: 50%;
  }
 @media only screen and (max-width: 580px) {
    width: 80%;
  }
}

