@import "../../themes/themes.scss";

.wrap-reg {
  width: 100%;

}

mat-form-field {
  width: 100%;
}

.form-wrapper {
  @media only screen and (min-width: 1440px) {
    width: 100%;
  }
}
.mat-card{
  width: 70% !important;
  margin:auto;
  @media (min-width:320px)  {
    .mat-card{
    width: 100% !important;
    margin:auto;
  } }
  @media (min-width:481px)  {
    .mat-card{
      width: 100% !important;
      margin:auto;
    }
  }
}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

.forgot {
  color: #27BBEE;
  cursor: pointer;
  font-size: 12px;
}

.forgot:hover {
  transition: ease-out 0.3s;
  color: $primary-red;
}

a:hover {
  text-decoration: underline;
}

.btn {
  font-size: 16px;
  background: #27BBEE !important;
  color: $white;
  border-radius: 5px !important;
  width: 100%;
  padding: 5px 18px;
  margin-top: 20px;
}
.btn:hover {
  background: #28BBEE !important;
  transition: ease-out .3s;
}
.center{
  text-align: center;
}
.btn.disabled,
.btn:disabled {
opacity: 1;
color: $white;
border-radius: .25rem;
font-size: 16px;
}

.signIn {
  text-align: left;
  color: #262626;
  margin: 0 0 20px 0;
  letter-spacing: 0.5px;
}
.tLeft{
  font-size: 24px;
  text-align: left;
  font-weight: lighter;
  letter-spacing: 1px;
}

.ins-note {
  margin-top: 1.5em;
  color: $primary-red;
  font-size: 12px;
  text-align: left;
  margin-top: 40px;
}
.astre{
  color:red
}


::placeholder {
  color: $borderColor-2;
  }

.icon-color{
color:  #8c8c8c;
position: relative;
margin: 0;
top: -4px;
}

.icon-color-1{
  color:  #8c8c8c;
  position: relative;
  cursor: pointer;
  top: -4px;
}

.label-color{
  color: #262626;
  font-size: 14px;
}

.mat-form-spacing {
  margin-bottom: 20px;
}

.next {
  text-align: center;
  margin: 24px 16px 24px 0px;
}

// mobile
@media (max-width: 480px) and (max-width: 320px) {
    .wrap-reg {
      text-align: center;
      width: 100%;
      .form-wrapper {
        width: 100%;
      }
  }
}


@media (max-width: 767px) {
  .wrap-reg {
      width: 100%;
      .form-wrapper {
        width: 100%;
      }
  }
}

@media only screen and (max-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .wrap-reg {
      text-align: center;
      width: 100%;
  }
}

input.mat-input-element {
  margin-top: -3px !important;
  font-size: 14px;
}

:host ::ng-deep.mat-input-element {
  margin: 3px !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 0.5em 0;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #28BBEE !important;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0px;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0em 0 !important;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #28BBEE !important;
}
:host ::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0;
}
:host ::ng-deep.mat-form-field-subscript-wrapper {
    position: relative;
    margin: 0 !important;
    padding-top: 0 !important;
}
.error {
  margin-top: 6px;
}
.login-icon-color {
  color: #8c8c8c;
}
.login-icon-wrapper {
  top: -5px;
  position: relative;
  padding: 0 0 0 10px;
}
.mb-10{
  margin-bottom: 10px !important;
}
.mt-20{
  margin-top:20px !important
}

.signupTxt{
  font-size: 12px;
}

